# Virtual environment
.venv/
venv/
ENV/

# PyCharm/VSCode IDE settings
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment secrets
.env
.env.*


# Databases
*.db
*.sqlite
*.sqlite3
ecommerce.db